<div>
    Message: <span>{{statusText}}</span>
</div>
<div style="margin-top:20px;margin-bottom:20px;width:100%">
    <table style="width:100%">
        <thead>
            <tr>
                <td>Agent Id</td>
                <td>Device Name</td>
                <td>Connect</td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="device in flattenedDevices">
                <td style="width:33%">{{device.agentId}}</td>
                <td style="width:33%">{{device.deviceName}}</td>
                <td style="width:33%"><span ng-click="connectToDevice(device.agentId, device.deviceName)" class="glyphicon glyphicon-ok-sign connectIcon"></span></td>
            </tr>
        </tbody>
    </table>
</div>
<span us-spinner spinner-key="connectionSpinner"></span>